*{
    box-sizing: border-box;
    /* margin-left: 20px;
    margin-right: 20px; */
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
   justify-content: space-between;
   width: 1160px;
   height: 62px;
   margin-left: 20px;
    margin-right: 20px;
    padding: 2rem;
}
.name, ul{
    display: flex;
}
li{
    padding: 2rem;
}
.name{
    width: 221px;
    height: 62px;
   justify-content: center;
   align-items: center;
}
.logo{
    width: 67px;
    height: 62px;
}
.school{
    width: 141px;
    height: 30px;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}
.menu{
    width: 387px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: semiBold;
}
#li1{
    color: orange;
    font-size: 1.1rem;
}
#li2{
    color: skyblue;
    font-size: 1.1rem;
}
#li3{
    color: #05D4DF;
    font-size: 1.1rem;
}
#li4{
    color: #5D58EF;
    font-size: 1.1rem;
}
.nav-btn{
    width: 197px;
    height: 50px;
    background-color: orange;
    color: white;
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 12px;
    font-weight: semiBold;
    font-size: 20px;
}
/* nav ends here */

/* banner starts */
  .banner{
    display: flex;
    width: 1158px;
    height: 575px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-body{
    margin-top: 100px;
  }
  .banner-heading{
    font-size: 3.2rem;
    width: 640px;
    height: 183px;
  }
  #empowering{
    color: orange;
  }
  #towards{
    color: skyblue;
  }
  .banner-text{
    font-size: 1.1rem;
    color: black;
    width: 640px;
    height: 50px;
  }
  .banner-button{
    width: 197px;
    height: 50px;
    background-color: black;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 12px;
    color: white;
  }
  .kid{
    width: 468px;
    height: 575px;
    margin-right: 10px;
  }
/* banner ends */
/* standard curriculum starts */
.standard-curriculum{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('bg.png');
background-size: cover;
background-repeat: no-repeat;    
margin-left: 20px;
    margin-right: 20px;

}
.card-header{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 80px;
    
}
card{
    border: 1px solid none;
    background-color: #FFFFFF;
    width: 367px;
    height: 476px;
    border-radius: 18.86px;
    text-align: center;
    padding: 1rem;
}
.card-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #202020;
}
.card-pic{
    width: 136px;
    height: 136px;
    margin-top: 2rem;
}
.card-text{
    color: #808080;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card1{
    background-color: white;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) rgba(255, 255, 255, 1));
background-size: cover;
   

}
.card-btn1{
    background-color: white;
    color: #64C8FF;
    width: 102px;
    height: 28px;
    border: 1px solid white;
}
.card-btn2{
    background-color: white;
    color: #F0AA00;
    width: 102px;
    height: 28px;
    border: 1px solid white;

}
.card-btn3{
    background-color: white;
    color: #8700FF;
    width: 102px;
    height: 28px;
    border: 1px solid white;
}
.standard-bottom{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.bottom-angular{
    background-color: orange;
    color: white;
    width: 60px;
    height: 60px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.font-icon{
    margin: auto;
}
/* standard curriculum ends */
/* stories starts */
.our-stories{
    width: 1440px;
    height: 1018px;
    background: linear-gradient(to bottom, #FFFFFF, rgba(254, 163, 1, 0.3)), 
    url('bg.png');
background-size: cover;
background-repeat: no-repeat;  
margin-left: 20px;
    margin-right: 20px;
}
.stories-title{
    font-weight: bold;
    font-size: 2.9rem;
    text-align: center;
}
.stories-card{
    display: flex;
    gap: 2rem;
    height: 630.52px;
    width: 1160px;
}
.story-1-card{
    width: 540px;
    height: 630px;
    border: 1px solid none;
    border-radius: 16px;
    background-color: white;
}
.story-1-pic{
    width: 520px;
    height: 337px;
}
.story-1-title{
    margin-top: 1.5rem;
}
.story-text{
    font-size: 15.34px;
    font-weight: medium;
    width: 433px;
    height: 45px;
    margin-top: 1.5rem;
    color: #666666;
}
.story-1-btn1{
    width: 174px;
    height: 47px;
    background-color: #3CD8E8;
    border: 1px solid #3CD8E8;
    border-radius: 47.9px;
    color: white;
    font-weight: medium;
    font-size: 1rem;
    margin-top: -50px;
    
}
.rest-stories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.story-2-card{
    width: 290px;
    height: 301px;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
}
.story-2-pic{
    width: 270px;
    height: 177px;
}
.story-2-btn2{
  background-color: #95B226;
  width: 174px;
    height: 47px;
    border: 1px solid #95B226;
    border-radius: 47.9px;
    color: white;
    font-weight: medium;
    font-size: 1rem;
    margin-top: -50px;
    margin-left: 50px;
}
.story2-title{
    text-align: center;
    width: 214px;
    height: 57px;
    font-weight: bold;
    font-size: 15.74px;
    margin-top: 20px;
}
.story-2-btn3{
    background-color: #5D58F0;
  width: 174px;
    height: 47px;
    border: 1px solid #5D58F0;
    border-radius: 47.9px;
    color: white;
    font-weight: medium;
    font-size: 1rem;
    margin-top: -50px;
    margin-left: 50px;
}
.story-2-btn4{
    background-color: #95B226;
    width: 174px;
      height: 47px;
      border: 1px solid #95B226;
      border-radius: 47.9px;
      color: white;
      font-weight: medium;
      font-size: 1rem;
      margin-top: -50px;
      margin-left: 50px;
}
.story-2-btn5{
    background-color: #95B226;
    width: 174px;
      height: 47px;
      border: 1px solid #95B226;
      border-radius: 47.9px;
      color: white;
      font-weight: medium;
      font-size: 1rem;
      margin-top: -50px;
      margin-left: 50px;
}
.last-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.story-btn{
    background-color: black;
    margin: auto;
    text-align: center;
    color: white;
    width: 197px;
    height: 55px;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 1px solid none;
    border-radius: 12px;
}
/* stories ends */
/* footer starts */
footer{
    background-color: #01ACFD;
    display: flex;
    justify-content: space-evenly;
    gap: 300px;
    width: 1439px;
    height: 519px;
    padding: 3rem;
}
.kids-education{
    width: 1079px;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-flex{
    display: flex;
    justify-content: space-between;

}
.about-school{

}
.about-scl-title{

}
.about-scl-flex{
    display: flex;
    flex-direction: column;
}
.keep-touch{

}
.social-icons{
    display: flex;
}

/* footer ends */
